<%= render 'shared/nav_affix'%>

<div class="container">
<br>
<br>
<br>
  <div class="left-column">
    <div class="show-cards">
      <br>
      <br>
      <h1><%= @cocktail.name %></h1>
      <p><%= @cocktail.about %></p>
      <figure class="card">
          <%= cl_image_tag @cocktail.photo.key, alt: "alttext" %>
      </figure>
    </div>
  </div>
  <div class="right-column">
    <br>
    <br>
    <br>
    <div class="container">
      <h1>Ingredients</h1>
      <% @cocktail.ingredients.each do |ingredient| %>
        <ul>
          <li><%= ingredient.name %></li>
        </ul>
      <% end %>
      <br>
      <%= link_to "Add Ingredient",  new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %>
      <%= link_to "Delete Ingredient", dose_path(@cocktail), class: 'btn btn-danger' %>
      <hr>
    </div>
    <div class="container">
      <h1>Method</h1>
      <%= h(@cocktail.method).gsub(/\n/, '<br/>').html_safe %>
    </div>
    <hr>
    <div class="container">
      <%= link_to "Edit/Delete Cocktail", edit_cocktail_path(@cocktail), class: 'btn btn-primary' %>
      <%= link_to "Go Back", cocktails_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
